.txt-class
{
    font-size: 11px;
    font-style: italic;
}
.pieLabel
{
    display: flex;
    justify-content: center;
    color:#6B5B95;
    font-weight: bold;
    opacity: 0.8;
}
#barGraph
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.barLabel
{
    margin-top: 10%;
    margin-bottom: 2%;
    font-weight: bold;
    opacity: 0.8;
}