#pieCharts
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#no-data
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

#barChart
{
    display: flex;
    justify-content: center;
}
#provinceLabel
{
  display: flex;
  justify-content: center;
  font-weight: bold;
  color:#DD4124;
  font-size: 1.5em;
}