path {
    fill: #ccc;
    stroke: #fff;
    stroke-linejoin: round;
}
.region:hover,.regionClick
{
   fill: purple;
   cursor: pointer;
}

.pText
{
   display: none;
}
.province:hover .pText,.pClicked .pText
{
  display: block;
  font-size: 5px;
  fill:white;
}

