.arc:hover
{
   stroke-width: 2;
}
div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 160px;					
    height: 58px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: #ff665e;
    color:white;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;			
}
.item
{
    width: 100%;  
}
.label
{
    font-size: 15px;
}
.pieLabel
{
    display: flex;
    justify-content: center;
    color:#6B5B95;
    font-weight: bold;
    opacity: 0.8;
}